

#colorBox input {
    vertical-align: top;
}

.list-group-item .bootstrap-switch-wrapper {
    float: right;
    margin-top: -3px;
    margin-right: -5px;
}

.editLabel, .tagLightList {
    margin-left: 0.4em;
}
.active .editLabel {
    color: #ffffff;
}